.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px ;
  margin: 50px 0;
}

.card{
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 270px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.card img{
  width: 150px;
}